@charset "UTF-8";


*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  background-color: rgb(0, 0, 0);
  width: 100vh; 
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  
}

h1{
  color: white;
  text-shadow: 1px 2px 0px #233eff;
  padding: 5px;
}

